.navBar{
    padding: 0 10px 0 10px;
    ul{
        li{
            a{
                color: #333333;
            }
        }
    }
    .brand-logo{
        padding-top: 3px;
        left: 0;
    }
}