@import './assets//scss/utilities.scss';
/* You can add global styles to this file, and also import other style files */
// $header-height: 40px;
// $row-height: 38px;
// $header-background-color: #424242;
// $header-foreground-color: #fff;
// $secondary-foreground-color: #fff;
// $foreground-color: #fff;
// $icon-color: #fff;
// $disabled-foreground-color:#ccc;
// $border-color: rgba(255,255,255,.12);
// $background-color: #424242;
// $hover-color:#333;
@import "~ag-grid-community/dist/styles/ag-grid.css";
// @import "~ag-grid-community/dist/styles/ag-theme-material.css";
@import "~ag-grid-community/src/styles/ag-theme-bootstrap/sass/ag-theme-bootstrap.scss";
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
